.main {
    padding-bottom: 50px;
    position: relative;
}

.left-block {


    &__pages {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 30px;
        @media (max-width: 750px) {
            display: none;
        }
    }
    

    &__page {
        // display: flex;
        width: 165px;
        // height: 30px;
        background: #BEBEBE;
        margin-top: 15px;
        // padding-top: 8px;
        // padding-bottom: 8px;
        border-radius: 5px;
        // text-align: center;
        @media (max-width: 750px) {
            justify-content: center;
        }
    }

    &__page:hover {
        background: #F7D631; 

    }

    &__page--a {
        // background: grey;
        // text-align: center;
        display: block;
        padding-left: 20px;
        text-decoration: none;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F5F5F5;
        padding: 8px 35px 8px 20px; 
        // width: 100%;
    }

    &__page--a:hover {
        text-decoration: none;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F5F5F5;
    }

    &__last-video--container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        // background: grey;
    }

    &__last-video--container--a {
        text-decoration: none;
    }

    &__last-video--container--a:hover {
        text-decoration: none;
    }

    &__last-video--container--block {
        background: #EAEAEA;
        margin-top: 20px;
        padding: 10px;
    }

    
    &__last-video--info {
        display: flex;
        // justify-content: flex-end;
        flex-direction: column;

        // display: block;
        // margin-left: auto;
        // margin-right: 0;
        background: #EAEAEA;
    }
    

    &__last-video--info--p {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__last-video--info--date {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(190, 190, 190, 0.9);
        margin-left: 200px;
    }




    &__an-video {

    }

    &__an-video--btns {
        display: flex;
        justify-content: space-between;

    }

    &__an-video--btn {
        width: 100px;
        text-align: center;
        background: #BEBEBE;
        margin-top: 15px;
        // padding-top: 8px;
        // padding-bottom: 8px;
        border-radius: 5px;
    }

    &__an-video--btn:hover {
        background: #F7D631;
    }

    &__an-video--a {
        text-decoration: none;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F5F5F5;
        display: block;
        padding: 8px 12px;
    }

    &__an-video--a:hover {
        text-decoration: none;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F5F5F5;
    }

    &__an-video--container--a {
        text-decoration: none;
    }

    &__an-video--container--a:hover {
        text-decoration: none;
    }

    &__an-video--container--blocks {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    &__an-video--container--block {
        width: 130px;
        background-color: #EAEAEA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        padding-top: 5px;
        margin-right: 15px;

    }

    &__an-video--container--img {
        width: 120px;
        height: 85px;
    }

    &__an-video--info {
        align-items: center;
    }

    &__an-video--info--p {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #363636;
        margin-left: 5px;
        margin-top: 5px;
    }

    &__an-video--info--date {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: rgba(190, 190, 190, 0.9);
        margin-left: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .date__title {
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #363636;

    }
    .date__time {
        
    }
}

.central-block {


    &__new-video {
        height: 365px;
        @media (max-width: 750px) {
            display: none;
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    &__btn--a {
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F7D631;
    }

    &__btn--a:hover {
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #DEBB00;
    }

    // &__btn--a:hover {
    //     color: #DEBB00;
    // }

    &__button--reporter {
        text-align: center;
        margin-top: 40px;
    }

    &__button--upload {
        text-align: center;
        margin-top: 25px;
    }

    &__button--upload--a {
        color: #F5F5F5;
        background: #000;
        text-decoration: none;
        padding: 10px 55px;
        border-radius: 5px;
    }

    &__button--upload--a:hover {
        color: #F7D631;
        background: #000;
        text-decoration: none;

    }

    .upload--p {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #828282;
    }

    .upload--a {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #F7D631;
        text-decoration: none;
    }

    .upload--a:hover {
        color: #DEBB00;
    }

    .custom-file-input {
        color: transparent;
      }
      .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
      }
      .custom-file-input::before {
        content: 'Select some files';
        color: black;
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }
      .custom-file-input:hover::before {
        border-color: black;
      }
      .custom-file-input:active {
        outline: 0;
      }
      .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }

    &__news {
        height: 250px;
        
    }

    &__news--block {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    &__news--a {
        text-decoration: none;
    }

    &__news--a:hover {
        text-decoration: none;
    }

    &__scandals--block {
        padding: 10px;
    }

    &__scandals--block--a {
        text-decoration: none;
    }

    &__scandals--block--a:hover {
        text-decoration: none;
    }

    &__news--block--img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 5px;
    }

    &__news--block--time {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(190, 190, 190, 0.9);
        margin-right: 20px;
    }

    &__news--block--content {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__scandals--btn-block {
        display: flex;
        justify-content: space-between;
    }

    &__btn--scandal {
        display: flex;
        margin-top: 10px;
        margin-top: 28px;
    }

    &__btn--p {
        margin-right: 5px;
    }

    .when-block {
        display: flex;
        justify-content: space-between;
    }

    &__block--scandals--know--a {
        text-decoration: none;
    }

    &__block--scandals--know--a:hover {
        text-decoration: none;
    }

    &__scandals--know--p {
        font-size: 13px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
    }

    &__scandals--when {
        background: #F7D631;
        border-radius: 5px;
        margin-top: 15px;
        width: 245px;
    }

    &__scandals--p {
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        padding: 10px 5px;
        width: 245px;
    }

    &__scandals--who {
        display: flex;
    }

    &__scandals--cont{
        background: #EAEAEA;
        border-radius: 5px; 
        padding: 10px 10px;
        margin-top: 25px;
        // display: flex;
        // justify-content: flex-end;
    }

    &__scandals--img1 {
        margin-right: 15px;
        width: 46px;
        height: 46px;
        margin-top: 25px;
    }

    &__scandals--img2 {
        margin-left: 15px;
        width: 46px;
        height: 46px;
        margin-top: 25px;
    }

    &__scandals--name1 {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__scandals--name2 {
        text-align: right;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #363636;
        margin-right: 15px;
    }

    &__scandals--sub1 {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
    }

    &__scandals--sub2 {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
        margin-left: 25px;
    }

    &__scandals--likes {
        margin-top: 15px;
        display: flex;
    }

    &__scandals--like {
        margin-right: 10px;
    }
}

.right-block {
    &__network {
        display: flex;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    &__network--a {
        // display: block;
        text-decoration: none;
    }

    &__network--a:hover {
        // display: block;
        text-decoration: none;
    }

    &__network--p {
        margin-left: 15px;
    }
}

.main-heading {
    margin-top: 30px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.9);

    display: flex;
    &__img {
        margin-right: 15px;
        padding-bottom: 10px;
    }

    &__p {
        margin-top: 5px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #828282;
        // padding-bottom: 10px;
    }
}

.akk-name {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #363636;
    margin-top: 3px;
}

.akk-sub {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 3px;
}