.left-block {
    .skandal {

        &__fact {
            background: #EAEAEA;
            margin-top: 15px;
            border-radius: 5px
        }

        &--a {
            text-decoration: none;
            display: block;
        }

        &--a:hover {
            text-decoration: none;
        }

        &__theme {
            margin: auto;
            width: 185px;
            text-align: center;
        }   
        
        &__theme--p {
            font-size: 11px;
            // line-height: 12px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            background: #F7D631;
        }

        &__block {
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }

        &__name {
            display: flex;
            flex-direction: column;
            justify-content: center ;
        }

        &__name--p {
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 0.01em;
            color: #363636;
            text-align: center  ;
        }

        &__name--a {
            text-decoration: none;
        }

        &__name--a:hover {
            text-decoration: none;
        }

        &__name--foto {
            display: block;
            margin: auto;
        }
    }
}

.central-block {

    &__btn--a {
        background: transparent;
    }

    .box--when {
        width: 270px;
    }
    
    &__box--a {
        text-decoration: none;
    }

    &__box--a:hover {
        text-decoration: none;
    }

    &__box--blocks1 {
        display: flex;
        position: absolute;
        top: 60px;
        left: 55px;
    }

    &__box--blocks2 {
        display: flex;
        position: absolute;
        bottom: 60px;
        right: 55px;
    }

    &__box--block--p1 {
        margin-top: 25px;
        margin-left: 10px;
    }

    &__box--block--p2 {
        margin-top: 25px;
        margin-right: 10px;
    }

    &__box--content {
        margin-top: 25px;
    }

    &__box--p {
        padding: 5px 15px;
    }

    &__comment {
        margin-bottom: 10px;
    } 

    &__comment--form {
        width: 100%;
    }

    &__comment--message {
        display: flex;
        justify-content: center;
        .field-text {
            resize: vertical;
            max-height: 50px;
            min-height: 50px;
        }
    }

    &__comment--m {
        width: 100%;
        height: 50px;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
        // padding: 5px;
        background: #EAEAEA;
        border-radius: 5px;
        padding: 10px;
    }

    .comment-btn {
        margin-right: 15px;
    }

    &__comment--theme {
        display: flex;
        margin-top: 15px;
    }

    &__comment--a {
        text-decoration: none;
    }

    &__comment--a:hover {
        text-decoration: none;
    }

    &__comment--p {

    }

    &__comment--name {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__comment--cont {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
    }

    &__comment--arrow {
        text-decoration: none;
        margin-top: 30px;
    }

    textarea::-webkit-input-placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
        // padding: 5px;
        }
         
    textarea:-moz-placeholder { /* Firefox 18- */
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282;
    }
        
    textarea::-moz-placeholder {  /* Firefox 19+ */
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282; 
    }
        
    textarea:-ms-input-placeholder {  
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #828282; 
    }

    .form {
        margin: 0;
    }

}

.right-block {
    &__last-video--container {
        display: flex;
        align-items: flex-start;
        justify-content: center ;
        // background: grey;
    }

    &__last-video--container--a {
        text-decoration: none;
    }

    &__last-video--container--a:hover {
        text-decoration: none;
    }

    &__last-video--container--block {
        background: #EAEAEA;
        margin-top: 20px;
        padding: 10px;
        width: 257px;
    }

    &__last-video--img {
        width: 238px;
    }

    &__last-video--info {
        display: flex;
        // justify-content: flex-end;
        flex-direction: column;

        // display: block;
        // margin-left: auto;
        // margin-right: 0;
        background: #EAEAEA;
    }

    &__last-video--info--p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__last-video--info--date {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(190, 190, 190, 0.9);
        margin-left: 155px;
    }
}